/* default styling */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}

html, body, #root, .App {
  height: 100%
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  height: 100%;

  display: grid;
  grid-template-rows: 5% 95%;
}


/* navbar css */
.navbar {
  display: flex;
  justify-content: flex-start;
  box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.5);
  z-index: 2;
}

.navContainer {
  min-width: 4%;
  display: grid;
  justify-content: center;
  align-items: center;
  border-right: 2px solid rgb(199, 199, 199);
}

.navImg {
  box-sizing: content-box;
  /* height: 3em; */
  max-height: 90%;
  padding: 0em 1em;
}

.navContainer:hover {
  background-color: rgba(46,227,255,1);
}

.navContainer:active {
  border: 2px solid rgb(31, 31, 31);
  background-color: rgba(0,167,222,1);
}
/* navbar end */

.container {
  /* background-color: rgb(47, 77, 177); */
  display: grid;
  background: linear-gradient(to right, rgba(46,227,255,1) 0%, rgba(0,167,222,1) 100%);
}

img {
  user-select: none;
}