html {
  height: 100%;
}

body {
  height: 100%
}

#root {
  height: 100%;
}

.App {
  height: 100%;

  display: grid;
  grid-template-rows: 5% 95%;
}

.navbar {
  background-color: rgb(141, 63, 63);
}

.container {
  background-color: rgb(47, 77, 177);
}