.arvutusContainer {
    background-color: rgb(238, 171, 46);
    width: 60%;
    height: 60%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.arvutus {
    background-color: rgb(44, 173, 39);

    display: grid;
    grid-template-columns: 80% 20%;
}

.vastus {
    background-color: rgb(31, 200, 212);
}

.C {
    max-height: 100%;
    max-width: 100%;
    background-color: pink;
}

.numbrid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input {
    width: 80px;
    height: 50px;
    border-radius: 20px;
    margin: 20%;
}